
<div class="user-list">
    <div class="user-list--user-card-list">
        <div
            class="user-list--user-card"
            *ngFor="let user of userList; let i = index"
            [style.color]="i % 2 === 0 ? '#ffb6b9' : '#17223b'">
            <app-user-card
                *ngIf="!user.hidden"
                [user]="user"
                [newTemplate]="i % 2 === 0 ? newTemplate : undefined"
                (userClick)="selectUser($event)">
            </app-user-card>
        </div>
    </div>
    <div class="user-list--user">
        <app-user *ngIf="userListService.selectedUser" [user]="userListService.selectedUser">
            <div>my new template</div>
        </app-user>
    </div>
    <div class="user-list--user-avatar" 
        *ngIf="userListService.selectedUser">
        <app-user-avatar>
        </app-user-avatar>
    </div>
</div>

<ng-template #newTemplate>
    <div class="is-new">
        NEW
    </div>
</ng-template>

<div class="loading" *ngIf="this.userListFacadeService.isLoading$ | async">
    loading...
</div>
