.user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &--user-card {
        margin-right: 5px;
        flex-shrink: 0;
    }
    &--user {
        flex: 1;
    }
}