
<div class="user-list">
    <div class="user-list--user-card-list">
        <div
            class="user-list--user-card"
            *ngFor="let user of userList; let i = index"
            [style.color]="i % 2 === 0 ? '#ffb6b9' : '#17223b'">
            <app-user-card
                *ngIf="!user.hidden"
                [user]="user"
                [newTemplate]="i % 2 === 0 ? newTemplate : undefined"
                (userClick)="userClick($event)">
            </app-user-card>
        </div>
    </div>
    <div class="user-list--user">
        <app-user #userName [user]="userList[0]">
            <div>my new template</div>
        </app-user>
    </div>
</div>

<ng-template #newTemplate>
    <div class="is-new">
        NEW
    </div>
</ng-template>

<button (click)="save(userName)">save</button>
