.user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &--user-card {
        margin-right: 5px;
        flex-shrink: 0;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    &--user {
        flex: 1;
    }

    &--user-avatar {
        position: fixed;
        right: 25px;
        top: 25px;

        padding: 5px 10px;
        border-radius: 2px;
        background-color: #333;
        color: #fff;
    }
}