.app--user-list {

    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    &--content {
        list-style: none;
        margin: 0;
    }

    &--user {

        &:not(:last-child) {
            border-bottom: 1px solid #fff;
        }
    }

    &--selected-user {
        padding: 20px;
    }

    &--loading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }
}