<ul class="app--user-list">
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
    <li class="app--user-list--user">
        <app-user></app-user>
    </li>
</ul>
