.app--registration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 50px;

    &--field {
        margin-bottom: 20px;
    }
    &--field-name {
        display: block;
    }
    &--field-value {
        &.invalid {
            border-color: #ff6768;
        }
    }
    &--field-error {
        color: #ff6768;
        font-size: 12px;
    }
}