<form
    class="app--registration"
    #registrationForm="ngForm"
    (ngSubmit)="registrate([nameModel, emailModel, passwordModel, registrationForm])">

    <div class="app--registration--field">
        <span class="app--registration--field-name">name: </span>
        <input
            class="app--registration--field-value"
            name="userName"
            type="text"
            [(ngModel)]="name"
            #nameModel="ngModel">
    </div>

    <div class="app--registration--field">
        <span class="app--registration--field-name">email: </span>
        <input
            class="app--registration--field-value"
            [class.invalid]="emailModel.touched && emailModel.invalid"
            name="userEmail"
            type="email"
            [(ngModel)]="email"
            #emailModel="ngModel"
            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            required>
        <span
            class="app--registration--field-error"
            *ngIf="emailModel.touched && emailModel.invalid">
            please provide correct email
        </span>
    </div>

    <div class="app--registration--field">
        <span class="app--registration--field-name">password: </span>
        <input
            class="app--registration--field-value"
            name="userPassword"
            type="password"
            [(ngModel)]="password"
            #passwordModel="ngModel">
    </div>

    <button
        type="submit"
        [disabled]="nameModel.invalid || emailModel.invalid || passwordModel.invalid">
        registrate
    </button>

</form>